//Responsive image fix
img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

// Shop page products, Related products and Upsells in 3 columns

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 30.8%;
}

.woocommerce ul.products li.last,
.woocommerce-page ul.products li.last
.woocommerce .related ul li.product.last,
.woocommerce .related ul.products li.product.last,
.woocommerce .upsells.products ul li.product.last,
.woocommerce .upsells.products ul.products li.product.last,
.woocommerce-page .related ul li.product.last,
.woocommerce-page .related ul.products li.product.last,
.woocommerce-page .upsells.products ul li.product.last,
.woocommerce-page .upsells.products ul.products li.product.last {
    margin-right: 0;
}


// TOP BAR

.top-email {
    text-align: right;
}

.top-cart, .top-account {
    text-align: center;
}

.top-bar {
    border-bottom: 1px solid @brand-success;
    padding: 15px 0;
    background: url('./img/pattern.png') top left repeat;
    font-size: @font-size-large;
    font-weight: 500;
    .glyphicon {
        margin-right:10px;
        font-size: 20px;
        vertical-align: sub;
    }
}

.site-branding {
    margin-top: 40px;
    margin-bottom: 80px;
    .glyphicon {
        display: block;
        clear: right;
        &:before {
            font-size: 30px;
        }
    }
    .pull-down a {
        display: block;
        clear: left;
    }
}

.top-user {color:@gray-light}
.top-shop {color:@brand-success}

.top-account a, .top-cart a {text-transform: uppercase; color: @gray-base; margin-top: 10px}

.top-logo {
    text-align: center;
}

#top-nav {
    text-transform: uppercase;
    font-weight: 400;
}


#menu-top-menu>li>a {
    position: relative;
    display: block;
    padding-left: 30px;
    padding-right: 30px;
}


/* Carousel Styles */

.carousel-inner {
    img {
        width: 100%;
    }
    .item {
        overflow: hidden;
        max-height: 390px;
    }
}

.carousel-control {
    width: 0;
    span {
        &:before {
            border: 3px solid #fff;
            border-radius: 50%;
            line-height: 50px;
            font-size: 22px;
            padding: 10px 12px;
        }
    }
}

.carousel-control.left,
.carousel-control.right {
    .opacity(0.4);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right, 
.carousel-control .icon-prev, 
.carousel-control .icon-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin: -25px 0 0 0;
    overflow: hidden;
    width: auto;
    height: auto;
    padding: 1px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 25px;
    
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 25px;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    .opacity(1);
}

/* Carousel Header Styles */
.header-text {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    width: 100%;
    color: #fff;
}

.header-text h2 {
    font-size: 90px;
    font-family: @font-family-serif;
    margin: -50px 0 0 0;
}


// FRONTPAGE STYLES

.front-content {
    text-align: center;
    margin: 40px 0 70px 0;
    font-size: @font-size-large;
    font-weight: 300;
}

.call-to-action {
    padding: 20px 70px;
    text-transform: uppercase;
    margin-top: 40px;
}

//Featured image
#featured img {
    width:100%;
    border: 1px solid #ddd;
    padding: 5px;

}

.frontpage-title, .woocommerce ul.products li.product h3 {text-transform: uppercase; color: @gray-base; font-size:17px}

ul.category-list {
    list-style: none;
    margin: 40px 0 0 0;
    padding: 0;
    text-align: center;
    li {
        display: inline-block;
        a {
            margin-right: 10px;
            }
    }
}

// FOOTER STYLES

footer {
    background-color: @gray-lighter;
    border-top: 1px solid #ddd;
    margin-top: 80px;
    padding-top: 40px;
    }

h3.footer-title {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 30px;
}

.footer-widget{

    .glyphicon {
        vertical-align: bottom;
        font-size: 24px;
        margin-right: 20px;
    }

    ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 0 0 5px 0;
        a {
            color: #000;
            font-weight: 300;
        }
    }
}
}

.icons-cont {
    float: left;
    clear: both;
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 18px;
}

.footer-widget img {
    float: left;
    max-width: 150px;
    height: auto;
}

.site-info {
    text-align: center;
    padding: 17px 0;
    border-top: 1px solid #ddd;
    margin-top: 50px;
}

// PRODUCTS

span.front-price, span.price {
    font-size: 28px !important;
    color: @brand-success;
}


.product-link {
    overflow: auto;
    display: block;
    text-decoration: none;
    &:hover {
        text-decoration: none;
        img {
            .opacity(0.8);
            }
    }
}

del {
    font-size: 16px;
    color: @brand-warning !important;
    display: inline !important;
}

ins {
    text-decoration: none;
    font-weight: 400 !important;
    display: inline !important;
}


// RECEPIES

.recepty img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-bottom: 0px;
}

h2.recept-title {
    font-size: 17px;
    text-transform: uppercase;
    min-height: 40px;
    a {
        color: @gray-base;
    }
}

.recepie-more {margin-top: 10px}

.recep-link:hover img {
    .opacity(0.8);
}

.recepie-content {
    font-size: 17px;
    font-weight: 300;
}

.recepie-image img, .woocommerce ul.products li.product a img, .attachment-shop_single {
    padding: 5px;
    border: 1px solid #ddd;
}

.recepie-image img {border-bottom: 0px}

h2.rece-title {
    color: @brand-success;
    margin: 0 0 40px 0;
}

.recepie-details {margin-top:40px}

.timing {
    margin: 0 0 20px 0;
    overflow: hidden;
    div {
        text-align: center;
        padding: 5px;
        border: 1px solid #ddd;
    }
    .time {
        color: @brand-success;
        border-top: 0px;
        font-size: 24px;
    }
}


h1.page-title, h1.entry-title {
    font-size: 36px;
    color: @brand-success;
    margin: 0 0 30px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: left;
    line-height: inherit;
    &:after {
        position: absolute;
        top: 51%;
        overflow: hidden;
        width: 100%;
        height: 1px;
        content: '\a0';
        background-color: #ddd;
      }
}

.entry-summary {
    overflow: hidden;
}


.adder .qty {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    height: 60px;
    border: 1px solid #cb6d61;
    border-right: 0;
    border-radius: 3px;
    margin: 0;
    width: 100% !important;
}

.adder div.quantity {
    margin:0 !important;
    float: left;
    width: 30%;
}

.add-it {
    height: 60px;
    margin-left: -4px;
    padding: 0;
    width: 70%;
}

.row-no-padding {
  margin-left: 0;
  margin-right: 0;
  [class*="col-"]:first-of-type {
    padding-left: 0 !important;
  }
  [class*="col-"]:last-of-type {
    padding-right: 0 !important;
  }
}

p.price span {
    font-size: 28px;
    font-weight: 300;
    color: #000;
}

span.amount {
    font-weight: 500 !important;
}

.entry-summary p {font-weight:300}

.recepty {
    margin-top: 40px;
}

.in-product-recepie {
    position: relative;
    max-height: 245px;
    overflow: hidden;
    h2 {
        position: absolute;
        bottom: 15px;
        left: 30px;
        right: 30px;
        margin: 0;
        min-height: 0;
        font-weight: 300;
        a {
            color: #fff;
        }
    }
     img {
        padding:0;
        border: 0px;
    }
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button, input#place_order {
    background-color: @brand-warning;
    border-color: #c55b4e;
    text-transform: uppercase;
    padding: 20px 40px;
    width: auto !important;
    display: inline-block;
    &:hover {
        background-color: #bb4c3e;
        border-color: #a04135;
    }
}



a.select2-choice {
    padding: 3px 0 4px 8px !important;
    height: auto !important;
    background: none !important;
}

.country_select {
    padding: 0;
    border: 0px;
}

select.orderby {
    background: none !important;
}

td.actions {
    padding: 10px !important;
}

input#coupon_code {
    border-radius: 3px;
    margin-right: -5px;
    padding: 0 12px 0 12px;
    width: auto !important;
    white-space: nowrap;
    line-height: 26px;
    vertical-align: middle;
}

.woocommerce-cart .cart-collaterals .cart_totals table {width:100%}

.woocommerce ul#shipping_method li {
    margin: 0;
    padding: .25em 0 .25em 0;
    text-indent: 0;
    list-style: none;
}

a {
    color: @brand-success;
    text-decoration: none;
}

a:hover, a:focus {
    color: #567f1a;
    text-decoration: underline;
}