//Woocommerce recent and featured product on homepage
#recent img, #featured img {
    width: 100%;
    height: auto;
    margin: 0 auto;
}


// Related products and upsells in 4 columns

.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
}

.woocommerce .related ul li.product.last,
.woocommerce .related ul.products li.product.last,
.woocommerce .upsells.products ul li.product.last,
.woocommerce .upsells.products ul.products li.product.last,
.woocommerce-page .related ul li.product.last,
.woocommerce-page .related ul.products li.product.last,
.woocommerce-page .upsells.products ul li.product.last,
.woocommerce-page .upsells.products ul.products li.product.last {
    margin-right: 0;
}