@media (min-width: @screen-xs-max) {
    .skip-link {display:none}
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-default .navbar-brand {
        display: none;
    }

}


@media (min-width: @screen-sm-max) {

}


@media (min-width: @screen-md-max) {

}


@media (max-width: @screen-xs-max){
    .top-bar {
        font-size: 12px;
    }
    .site-branding {
        margin-bottom: 40px;
    }
    .footer-widget {
        img {
            text-align:center;
            margin: 0 auto;
            float: none;
            }
        text-align: center;
        margin-bottom: 20px;
    }
    .icons-cont {
        float: none;
    }
    a.skip-link {
        text-align: center;
        width: 100%;
        display: block;
        margin: 7px 0;
    }
    .call-to-action {
        padding: 20px 40px;
    }
   .woocommerce ul.products li.product,
.woocommerce-page ul.products li.product
.woocommerce .related ul li.product,
.woocommerce .related ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .upsells.products ul li.product,
.woocommerce-page .upsells.products ul.products li.product {
    width: 48%;
    float: left;
    clear: both;
    margin: 0 0 2.992em;
}

h1.product_title {
    margin-top: 20px !important;
}

.pro-img {text-align: center}
p.price {
    text-align: center;
    margin-top: 20px;
}

}


@media (max-width: @screen-sm-max){	

}


@media (max-width: @screen-md-max) {

}


@media (min-width: @screen-sm-max) and (max-width: @screen-md-max){

}


@media (min-width: @screen-xs-max) and (max-width: @screen-sm-max){

}